<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <!-- Dashboard Tab -->
    <ion-tab title="Current" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/current">
        <ion-nav-view name="tab-current"></ion-nav-view>
    </ion-tab>

    <!-- Chats Tab -->
    <ion-tab title="Voltage" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/voltage">
        <ion-nav-view name="tab-voltage"></ion-nav-view>
    </ion-tab>

    <!-- Account Tab -->
    <ion-tab title="Power" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/power">
        <ion-nav-view name="tab-power"></ion-nav-view>
    </ion-tab>


</ion-tabs>
